body {
  background-image: url("../images/dash-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h1 {
  font-family: "Gloock", serif;
}
.whi {
  background-color: rgb(165, 248, 255);
  border-radius:  0 0 1em 1em;
  padding-bottom: 1em;
  padding-left: 2em;
  text-align: left;
  font-size: 130%;
  font-weight: bold;

}
.yell {
  background-color: rgb(255, 255, 255);
  border-radius:1em 1em 0 0 ;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  text-align: left;
}

.row{
  padding-bottom: 2em;

}
